.greyed-items {
  color: grey;
  font-size: 12px;
}

.item-title {
  font-size: 15px;
}

.main-part-container {
  margin-top: 10px;
}

.post {
  display: flex;
  margin-right: 10px;
}

.fas {
  margin: 10px;
  font-size: 1rem;
}
