.sp-main {
  font-size: 10px;
  color: grey;
  margin-left: 32px;
  font-size: 14px;
}

.points {
  display: inline-block;
}

.sec-item {
  display: inline-block;
  padding: 0 5px;
}

.mid-item {
  border-right: 1px solid grey !important;
}
