.navbar-container {
  width: 100vw;
  background-color: orangered;
}

.navbar {
  font-size: 0.9rem;
  width: 100vw;
}

.nav {
  display: inline-block;
  padding: 5px;
}

.nav-button {
  float: right;
}

.nav-logo {
  display: inline-block;
  position: relative;
  top: 0.5vh;
  left: 1%;
  font-size: 1.5rem;
}

.fab {
  color: orangered;
  background-color: white;
}

.nav-brand {
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}
